@model AutNutriYA.Dieta

@{
    ViewData["Title"] = "Crear Dieta";
}

<h2>Crear dieta de @ViewData["Correo"]</h2>

<h4>Dieta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" value="@ViewData["Correo"]" readonly/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label><br>
                <select class="form-control" asp-for="Dia">
                    <option class="form-control" value="Dia 1 Lunes">Lunes</option>
                    <option class="form-control" value="Dia 2 Martes">Martes</option>
                    <option class="form-control" value="Dia 3 Miercoles">Miercoles</option>
                    <option class="form-control" value="Dia 4 Jueves">Jueves</option>
                    <option class="form-control" value="Dia 5 Viernes">Viernes</option>
                    <option class="form-control" value="Dia 6 Sabado">Sabado</option>
                    <option class="form-control" value="Dia 7 Domingo">Domingo</option>
                </select>
                <!--<input asp-for="Dia" class="form-control" />-->
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desayuno" class="control-label"></label>
                <input asp-for="Desayuno" class="form-control" />
                <span asp-validation-for="Desayuno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida1" class="control-label">Bebida Desayuno</label>
                <input asp-for="Bebida1" class="form-control" />
                <span asp-validation-for="Bebida1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionM" class="control-label">Colacion Mañana</label>
                <input asp-for="ColacionM" class="form-control" />
                <span asp-validation-for="ColacionM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comida" class="control-label"></label>
                <input asp-for="Comida" class="form-control" />
                <span asp-validation-for="Comida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida2" class="control-label">Bebida Comida</label>
                <input asp-for="Bebida2" class="form-control" />
                <span asp-validation-for="Bebida2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionT" class="control-label">Colacion Tarde</label>
                <input asp-for="ColacionT" class="form-control" />
                <span asp-validation-for="ColacionT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida3" class="control-label">Bebida Cena</label>
                <input asp-for="Bebida3" class="form-control" />
                <span asp-validation-for="Bebida3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Index?correo=@ViewData["Correo"]">Volver a la dieta del Paciente</a>
</div>

