@{
    ViewData["Title"] = "Acerca de. .";
}
<h2>@ViewData["Title"]</h2>
<p>NutriYA, es una aplicacion diseñada para que los nutriologos puedan<br>
manejar de forma sencilla el control de las dietas de los pacientes<br>
y mantener un control de estos.
</p>
<br>
<p>Tambien es una aplicacion movil para que los pacientes puedan tener<br>
acceso sencillo y rapido a sus dietas y tener la capacidad de cambiar<br>
sus dietas dependiendo de sus necesidades.</p>