@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>

<address>
    Juan de Dios Batiz SN, Instituto Tecnológico de Culiacan,<br />
    Guadalupe, 80220 Culiacán Rosales, Sin.<br />
    <abbr title="Phone">Tel:</abbr>
    01 667 713 1796
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:NutriYa.Soporte@gmail.com">14170985@itculiacan.edu.mx</a><br />
    <strong>Marketing:</strong> <a href="mailto:NutriYa.Marketing@gmail.com">NutriYa.Marketing@itculiacan.edu.mx</a>
</address>
