@{
    ViewData["Title"] = "Descarga la App";
}
<h2>@ViewData["Title"]</h2>


<p>La aplicación movil es la herramienta para que usted visualice su dieta, por favor descargue la App</p>
<a href=@ViewData["Link"]>
<img src="~/images/descargaGP.png" height="50" width="150">
</a>

<a href="https://drive.google.com/file/d/1sLN4IbiDjRQ2p2SxfzKePUP3ixkyfoC2/view?usp=sharing">
<img src="~/images/descargaIOs.png" height="50" width="150">
</a>
